/*                                                             */
/* ------------------------- GLOBAL STYLES ------------------- */
/*                                                             */  


body {
  padding: 30px;
  font-family: "Times New Roman" , Arial, "Lucida Grande", Verdana, sans-serif;
  font-size: 18px;
  line-height: 1.5em;
  background-color: #fff;
  color: #222;
  text-align: center;
}

body.main, div.container {
  margin-top: 30px;
}

div.container, footer {
  margin: 0 auto 30px;
  width: 820px;
  padding: 0;
}

div.container {
  width: 640px;
  margin: auto;
}

a {
  color: #336699;
}

a:link, a:visited {
  color: #369;
  text-decoration: none;
} 

a:hover {
  text-decoration: underline;
}

h1 {
  font-weight: 500;
  font-style: normal;
  font-size: 58px;
  clear: both;
  line-height: 1.0em;
  margin-bottom: 20px;
  letter-spacing: -2px;
  color: #232323;
}

h2 {
  color: #232323;
  margin: 30px 0;
  font-size: 48px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.1em;
  letter-spacing: -1px;
}

h5 {
  font-size: 20px;
  font-weight: 500;
  margin: 10px 0;
}

h6 {
  margin: 5px 0 10px;
  font-size: 14px;
  color: #cc0000;
}

hr {
  clear: both;
  border: 0;
  background: white url('images/img-hr.png') no-repeat scroll 50% 50%;
  color: transparent;
  height: 12px;
}

/*                                                             */
/* ------------------------- NAVIGATION ---------------------- */
/*                                                             */  

nav {
  text-align: right;
  padding: 10px;
  margin: -30px 0 20px 0;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  list-style-type: none;
  display: inline;
  margin: 0px;
  padding: 0 10px 0;
  font-size: 12px;
  font-family: Verdana, sans-serif;
}

nav ul li a:hover {
  text-decoration: none;
  color: #18afe0;
}


nav a.sign-in {
  color: #18afe0;
}

nav a.sign-in:hover {
  color: #222;
}

/*                                                             */
/* ------------------------- BODY ---------------------------- */
/*                                                             */  

body.main div.container {
  padding-left: 15px;
  overflow: hidden;
  margin-bottom: 40px;
  margin-top: 10px;
}

body.main a.box {
  width: 160px;
  margin: 15px 20px 5px;
  float: left;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-box-shadow: 0 0 5px #efefef;
  -moz-box-shadow: 0 0 5px #efefef;
  box-shadow: 0 0 5px #efefef;
  padding: 20px 10px 10px;
  text-decoration: none;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#efefef));
  background: -moz-linear-gradient(top,  #fff,  #efefef); 
}  








